@font-face {
    font-family: 'knockout';
    src: url(./font/Knockout-HTF66-FullFlyweight.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'knockout';
}

video {
    height: 100vh;
    width: auto;
    position:fixed;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    
}
    
    #botones {
        width: 100vw;
        height: 100vh;
        position: relative;
        margin: auto;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        gap: .5em;
    
        img{
            height: 56px;
            max-width: 100%;
        }

    }
    


@media screen and (min-width: 824px) {

    video {
        width: 100vw;
        /*height:calc(100vw/1.77777777778);*/
    }
    
    #botones {
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        list-style: none;
        width: 35%;
        height: 100vh;
    
        li {
            width: auto;
            height: calc(100%/5);
        }
    
    }
    
}


